/target
debug.log
demo.log
TODO.md
/lsp.log
/crates/urvim_core/examples/plugins/demo-plugin/src/demo_plugin/__pycache__
/crates/urvim_core/examples/plugins/demo-plugin/src/urvim_demo_plugin.egg-info
/crates/urvim_core/lsp.log
/examples/plugins/demo-plugin/src/demo_plugin/__pycache__
/examples/plugins/demo-plugin/src/urvim_demo_plugin.egg-info
/examples/plugins/cargo-fmt/src/cargo_fmt/__pycache__
/examples/plugins/cargo-fmt/src/urvim_cargo_fmt_plugin.egg-info
/examples/plugins/symbol-lens/src/urvim_symbol_lens_plugin.egg-info
/examples/plugins/symbol-lens/src/symbol_lens/__pycache__
/.maki
/events.log
